name: CD

on:
  workflow_dispatch:
    inputs:
      confirmAction:
        description: 'type "yes" to apply all infra'
        required: true
        type: string
        default: no

env:
  AWS_REGION: 'eu-west-2'

defaults:
  run:
    working-directory: infra

jobs:
  terraform-apply:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.1

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan

      - name: safety check
        run: |
          if [ "${{ github.event.inputs.confirmAction }}" != "yes" ]; then
            echo "apply cancelled"
            exit 1
          fi

      - name: Terraform Apply
        run: terraform apply --auto-approve
