name: CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AWS_REGION: 'eu-west-2'

jobs:
  ecr-docker:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: test pipeline, print AWS region
        run: 'echo AWS region is $AWS_REGION'
